# Directories
**/__pycache__/
**/__sapper__/

**/.DS_STORE/
**/.artifacts/data/
**/.cache/
**/.docker/data/
**/.idea/
**/.pytest_cache/
**/.svelte-kit/
**/.vscode/

**/artifacts/
**/build/
**/debug/
**/dist/
**/env/
**/node_modules/
**/target/
**/venv/

# File Extensions
**/*.bk
**/*.bk.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*